# 5장 pandas 시작하기
# 5-1 pandas 자료 구조

In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

> #### 1. Series

In [4]:
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

pandas의 series는 1차원 배열 같은 구조이며 index를 가지고 있음

In [7]:
obj2 = Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [10]:
obj2['d']

4

In [13]:
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [14]:
obj2[['c','a','b']]

c    3
a   -5
b    7
dtype: int64

index는 따로 설정 가능하며, 색인 가능

In [15]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [16]:
obj2*2

d    12
b    14
a   -10
c     6
dtype: int64

In [17]:
'b' in obj2

True

In [18]:
'e' in obj2

False

불리언 배열로 색인하거나 산술도 가능

In [19]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

Series는 고정 길이의 dictionary와 유사  
따라서 dictionary로 Series 구성 가능

In [20]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index = states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

사전 객체 + index로도 구성 가능하며, 이때 index가 우선순위에 놓임

In [21]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [24]:
obj4.isnull() # 인스턴스 메서드

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [25]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [27]:
obj4.name = 'Population'
obj4.index.name = 'State'
obj4

State
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

위와 같이 Series 이름과 index 이름 설정 가능

In [28]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [29]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

index 변경 가능