# 5장 pandas 시작하기
# 5-3 기술통계 계산과 요약

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan],[0.75, -1.3]],
              index = list('abcd'),
              columns = ['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [6]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [8]:
df.mean(axis=1, skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64