In [1]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [4]:
data = Series(np.random.randn(10),
             index = ([list('aaabbbccdd'), list('1231231223')]))
data

a  1   -0.456906
   2   -0.557717
   3    0.179050
b  1   -0.702604
   2    0.489093
   3    0.901656
c  1   -0.179017
   2   -0.319843
d  2   -1.395027
   3    0.796571
dtype: float64

In [5]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], ['1', '2', '3']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [10]:
data['b','2']

0.48909297069214697

In [11]:
data['b'][2]

0.90165572586476084

In [12]:
data['b']['2']

0.48909297069214697

In [17]:
data[:,'3']

a    0.179050
b    0.901656
d    0.796571
dtype: float64

In [19]:
data.unstack()

          1         2         3
a -0.456906 -0.557717  0.179050
b -0.702604  0.489093  0.901656
c -0.179017 -0.319843       NaN
d       NaN -1.395027  0.796571

In [20]:
frame = DataFrame(np.arange(12).reshape(4,3),
                 index = [list('aabb'), list('1212')],
                 columns = [['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [24]:
frame.index.names

FrozenList([None, None])

In [27]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['State', 'Color']
frame

State      Ohio     Colorado
Color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [29]:
frame['Ohio']

Color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [34]:
frame.loc['a']

State  Ohio     Colorado
Color Green Red    Green
key2
1         0   1        2
2         3   4        5