# 10. 시계열
> ## 날짜, 시간 자료형, 도구

In [17]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse

In [2]:
now = datetime.now()
now

datetime.datetime(2018, 6, 11, 12, 38, 14, 699136)

In [3]:
now.year, now.month, now.day

(2018, 6, 11)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days, delta.seconds

(926, 56700)

- datetime은 날짜와 시간을 모두 저장하며 마이크로초까지 지원함

In [7]:
from datetime import timedelta

In [8]:
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

- timedelta를 더하거나 빼서 그만큼의 시간을 datetime 객체에 적용 가능
___
## 1. 문자열을 datetime으로 변환하기

In [10]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y - %m - %d')

'2011 - 01 - 03'

- str이나 strftime 메서드에 포맷 규칙을 넘겨 문자열로 반환 가능

| 포맷 | 설명 |
| --- | --- |
|%Y | 네자리 연도|
|%y| 두자리 연도|
|%m| 두자리 월[01, 12]|
|%d| 두자리 일 [01, 31]|
|%H| 24시 형식 시간[00, 23]|
|%I| 12시 형식 시간[00, 12]|
|%M|두자리 분 [00, 59]|
|%S|초 [00, 61]|
|%w|정수로 나타낸 요일 [0(일요일), 6]|
|%U| 연중 주차 [00, 53] 일요일 시작|
|%W|연중 주차 [00, 53]월요일 시작|
|%z| UTC 시간대 오프셋을 +HHMM 또는 -HHMM으로 표현|
|%F| %Y-%m-%d에 대한 축약 표현|
|%D|%m/%d/%y에 대한 축약 표현|

In [14]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

- datetime.strptime은 알려진 형식의 날짜를 파싱하는 최적의 방법임

In [16]:
from dateutil.parser import parse

In [18]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
parse('Jan 31, 1997')

datetime.datetime(1997, 1, 31, 0, 0)

In [20]:
parse( '6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

- 흔히 쓰는 날짜 형식의 경우 Dateutil에 포함된 parser.parse 메서드 활용 가능

In [21]:
datestrs

['7/6/2011', '8/6/2011']

In [22]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

- 마찬가지로 pandas 내무 메서드 사용해서 날짜 전환 가능

In [24]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [25]:
pd.isnull(idx)

array([False, False,  True])

In [27]:
idx.isnull()

array([False, False,  True])

- NaT(Not a Time)은 pandas에서 누락된 타임스탬프 데이터를 나타냄