In [5]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [10]:
!cat data/ex1.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [8]:
df = pd.read_csv('data/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
df1 = pd.read_csv('data/ex2.csv')
df1

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [14]:
df1 = pd.read_csv('data/ex2.csv', header = None)
df1

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [16]:
df2 = pd.read_csv('data/ex2.csv', header = None, names = ['a', 'b', 'c', 'd', 'message'])
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
df3 = pd.read_csv('data/ex2.csv', header = None, names = ['a', 'b', 'c', 'd', 'message'], index_col = 'message')
df3

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

 <br>
 ___

In [24]:
parsed = pd.read_csv('data/csv_mindex.csv', index_col = ['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

 <br>
___

In [25]:
list(open('data/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [28]:
result = pd.read_table('data/ex3.txt', sep = '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491