# 6장 데이터 로딩, 저장, 파일형식
## 텍스트 파일 이용하기

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
df = pd.read_csv('data/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('data/ex1.csv', sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
pd.read_csv('data/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [15]:
pd.read_csv('data/ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

- header 없이 바로 데이터만 있는 경우 header 제거

In [18]:
pd.read_csv('data/ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- header 옵션 대신 names 옵션으로 열 이름 지정 가능

In [22]:
names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('data/ex2.csv', names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

- index_col로 행이름 지정 가능

In [25]:
pd.read_csv('data/csv_mindex.csv')

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [24]:
pd.read_csv('data/csv_mindex.csv', index_col = ['key1', 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

- multi-index 기능 지원

In [34]:
list(open('data/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [29]:
pd.read_table('data/ex3.txt', sep = '\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

- txt 파일, 또는 csv도 sep = '\s+'(여러공백란) 등의 정규 표현식으로 구분 가능

In [36]:
list(open('data/ex4.csv'))

['# hey!\n',
 'a,b,c,d,message\n',
 '# just wanted to make things more difficult for you\n',
 '# who reads CSV files with computers, anyway?\n',
 '1,2,3,4,hello\n',
 '5,6,7,8,world\n',
 '9,10,11,12,foo']

In [37]:
pd.read_csv('data/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- skiprows 기능으로 원지 않는 행 제거

In [43]:
pd.read_csv('data/ex5.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [42]:
pd.isnull(pd.read_csv('data/ex5.csv'))

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

- 개별 값 별로 NA 처리 가능

In [47]:
pd.read_csv('data/ex5.csv', na_values=['one', 'two', 'foo'])

  something  a   b     c   d message
0       NaN  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

- 원지 않는 값은 NA로 처리 가능

In [46]:
pd.read_csv('data/ex5.csv', na_values = {'something': ['two'], 'message': ['foo']})

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

- 열 별로 NA 값 지정 가능
___

## 6.1.1 텍스트 파일 조금씩 읽어오기

In [49]:
result = pd.read_csv('data/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [50]:
pd.read_csv('data/ex6.csv', nrows = 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

- nrows 옵션 = head 옵션 in R

In [61]:
chunker = pd.read_csv('data/ex6.csv', chunksize = 1000)
chunker

In [62]:
tot = pd.Series([])
for i in chunker:
    tot = tot.add(i['key'].value_counts(), fill_value = 0)

tot.sort_values(ascending=False)
tot[:10]

0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
dtype: float64

- chunksize로 분리한 파일을 순회하여 처리 가능
___

## 6.1.2 데이터를 텍스트 형식으로 기록하기

In [63]:
data = pd.read_csv('data/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [66]:
data.to_csv('data/out.csv')
pd.read_csv('data/out.csv', index_col = 0)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

- ####.to_csv 명령어로 csv 저장 가능

In [67]:
import sys
data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [68]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

- na_rep = 로 na 대신 특정 값 기입

In [70]:
data.to_csv(sys.stdout, index = False, header = False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

- header와 index 포함 여부 결정

In [74]:
data.to_csv(sys.stdout, columns = ['a', 'b', 'a'])

,a,b,a
0,1,2,1
1,5,6,5
2,9,10,9

- 원하는 column만 지정 가능

In [77]:
dates = pd.date_range('1/1/2000', periods = 7)
ts = pd.Series(np.arange(7), index = dates)
ts.to_csv('data/tseries.csv')
pd.read_csv('data/tseries.csv')

   2000-01-01  0
0  2000-01-02  1
1  2000-01-03  2
2  2000-01-04  3
3  2000-01-05  4
4  2000-01-06  5
5  2000-01-07  6

- Series 형식의 데이터도 to_csv 메서드 사용 가능
___

## 6.1.3 수동으로 구분 형식 처리하기

In [80]:
list(open('data/ex7.csv'))

['"a","b","c"\n', '"1","2","3"\n', '"1","2","3"\n']

In [81]:
import csv
f = open('data/ex7.csv')
reader = csv.reader(f)

In [82]:
for line in reader:
    print (line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [91]:
lines = list(csv.reader(open('data/ex7.csv')))
header, values = lines[0], lines[1:]
data_dics = {h:v for h,v in zip(header, zip(*values))}
data_dics

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [87]:
# for a simpler version of above;
pd.read_csv('data/ex7.csv', delimiter= ',')

   a  b  c
0  1  2  3
1  1  2  3

- 본 챕터는 별다른 내용이 없으므로 패스
___

## 6.1.4 JSON 데이터

In [98]:
obj = """
{"name": "Wes",
    "places_lived": ["United States", "Spain", "Germany"],
    "pet": null,
    "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
                 {"name": "Katie", "age": 33, "pet": "Cisco"}]}
"""

In [99]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

- JSON 문자열을 파이썬 형태로 변환 (json.loads)

In [102]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

- 파이썬 객체를 JSON 형태로 변환 (json.dumps)

In [105]:
siblings = pd.DataFrame(result['siblings'], columns= ['name', 'age', 'pet'])
siblings

    name  age    pet
0  Scott   25   Zuko
1  Katie   33  Cisco

- JSON 객체나 객체 내 리스트를 DataFrame으로 변환/분석
___

## 6.1.5 XML과 HTML: 웹 내용 긁어오기

In [107]:
import requests
from lxml.html import parse
from io import StringIO

In [108]:
text = requests.get('http://finance.yahoo.com/q/op?s=AAPL+Options').text
parsed = parse(StringIO(text))

doc = parsed.getroot()

- request 모듈을 사용해 데이터를 불러옴
- lxml을 이용해 parse 수행
- doc 객체에는 모든 html 태그가 추출

In [112]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x25296d87a98>,
 <Element a at 0x25296d87ae8>,
 <Element a at 0x25296d87a48>,
 <Element a at 0x25296d87228>,
 <Element a at 0x2529637c368>]

- 외부연결 URL은 a 태그로 지정, 객체.findall로 해당 엘리먼트 호출
- 단, 위 객체는 html 엘리먼트를 표현하는 객체일 뿐

In [113]:
lnk = links[27]
lnk

In [114]:
lnk.get('href')

'/quote/AAPL/options?strike=false&straddle=false'

In [116]:
lnk.text_content()

'148.00'

- 엘리먼트 별로 get 메서드를 호출하여 URL을 얻음
- text_content 메서드를 사용해서 링크 이름 호출

In [117]:
urls = [i.get('href') for i in links]
urls

['https://finance.yahoo.com/',
 '#Navigation',
 '#market-summary',
 '#Main',
 '#Aside',
 'https://mail.yahoo.com/?.intl=us&.lang=en-US&.partner=none&.src=finance',
 '/quote/AAPL?p=AAPL',
 '/quote/AAPL/key-statistics?p=AAPL',
 '/quote/AAPL/profile?p=AAPL',
 '/quote/AAPL/financials?p=AAPL',
 '/quote/AAPL/options?p=AAPL',
 '/quote/AAPL/holders?p=AAPL',
 '/quote/AAPL/history?p=AAPL',
 '/quote/AAPL/analysis?p=AAPL',
 '/quote/AAPL/sustainability?p=AAPL',
 '/quote/AAPL/options?ltr=1&straddle=true',
 '/quote/AAPL180608C00130000?p=AAPL180608C00130000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00135000?p=AAPL180608C00135000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00140000?p=AAPL180608C00140000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00145000?p=AAPL180608C00145000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00147000?p=AAPL180608C00147000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00148000?p=AAPL180608C00148000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00150000?p=AAPL180608C00150000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00155000?p=AAPL180608C00155000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00157500?p=AAPL180608C00157500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00160000?p=AAPL180608C00160000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00162500?p=AAPL180608C00162500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00165000?p=AAPL180608C00165000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00167500?p=AAPL180608C00167500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00170000?p=AAPL180608C00170000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00172500?p=AAPL180608C00172500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00175000?p=AAPL180608C00175000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00177500?p=AAPL180608C00177500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00180000?p=AAPL180608C00180000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00182500?p=AAPL180608C00182500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00185000?p=AAPL180608C00185000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00187500?p=AAPL180608C00187500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00190000?p=AAPL180608C00190000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00192500?p=AAPL180608C00192500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00195000?p=AAPL180608C00195000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00197500?p=AAPL180608C00197500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00200000?p=AAPL180608C00200000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00202500?p=AAPL180608C00202500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00205000?p=AAPL180608C00205000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00207500?p=AAPL180608C00207500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00210000?p=AAPL180608C00210000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00212500?p=AAPL180608C00212500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00217500?p=AAPL180608C00217500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00220000?p=AAPL180608C00220000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608C00222500?p=AAPL180608C00222500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00130000?p=AAPL180608P00130000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00135000?p=AAPL180608P00135000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00140000?p=AAPL180608P00140000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00142000?p=AAPL180608P00142000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00143000?p=AAPL180608P00143000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00144000?p=AAPL180608P00144000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00145000?p=AAPL180608P00145000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00146000?p=AAPL180608P00146000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00147000?p=AAPL180608P00147000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00148000?p=AAPL180608P00148000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00149000?p=AAPL180608P00149000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00150000?p=AAPL180608P00150000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00152500?p=AAPL180608P00152500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00155000?p=AAPL180608P00155000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00157500?p=AAPL180608P00157500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00160000?p=AAPL180608P00160000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00162500?p=AAPL180608P00162500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00165000?p=AAPL180608P00165000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00167500?p=AAPL180608P00167500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00170000?p=AAPL180608P00170000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00172500?p=AAPL180608P00172500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00175000?p=AAPL180608P00175000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00177500?p=AAPL180608P00177500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00180000?p=AAPL180608P00180000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00182500?p=AAPL180608P00182500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00185000?p=AAPL180608P00185000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00187500?p=AAPL180608P00187500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00190000?p=AAPL180608P00190000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00192500?p=AAPL180608P00192500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00195000?p=AAPL180608P00195000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00197500?p=AAPL180608P00197500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00200000?p=AAPL180608P00200000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00202500?p=AAPL180608P00202500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00205000?p=AAPL180608P00205000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00210000?p=AAPL180608P00210000',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00212500?p=AAPL180608P00212500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/quote/AAPL180608P00222500?p=AAPL180608P00222500',
 '/quote/AAPL/options?strike=false&straddle=false',
 '/news/looks-macos-10-14-dark-193454086.html',
 '/news/everything-expect-apples-huge-developers-conference-122916227.html',
 '/news/barrons-picks-pans-lincoln-national-214527862.html',
 '/m/c6ef9086-04f5-3e9a-925e-33a365bd76bf/samsung-plans-camera%2C.html',
 '/m/ca24ca51-1dc1-3acb-a29c-08915a662994/i%27m-addicted-to-my.html',
 '/news/alcoa-apos-environmental-breakthrough-could-154800511.html',
 '/m/f438516e-7d7c-3ba2-8180-4b87f852d7cc/%5B%24%24%5D-apple-needs-to-keep-its.html',
 '/m/3508d06c-5b62-3c98-a6ac-7d4cfc9a161b/if-apple-makes-big-news-at.html',
 '/m/41f40f91-179e-3acf-9d7f-671dd6b0d6f2/3-big-things-apple%27s-tim-cook.html',
 '/m/e50d167c-bfef-3fd9-9dc2-f266136e24ad/week-ahead%3A-apple%27s-big-show%2C.html',
 '/news/apple-wwdc-2018-promises-plenty-130028940.html',
 '/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/calendar',
 '/industries',
 '/personal-finance',
 '/tech',
 '/topic/yahoo-finance-podcast',
 '/brklivestream/']

- html 문서에 포함된 모든 url 목록 호출 방법